{% load django_bootstrap5 %}

{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/goose.png' %}">
    <title>{% block title %}Mi Sitio Web{% endblock %}</title>
    <!-- Incluir CSS de Bootstrap -->
    {% bootstrap_css %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">Ventura</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'get_data' %}">Get data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'building_ratings' %}">Buiding ratings analytics</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Incluir JavaScript de Bootstrap -->
    {% bootstrap_javascript %}
</body>

</html>