{% extends 'base.html' %}

{% block title %}Ventura{% endblock %}

{% load static %}

{% block content %}
<div>
    <h1>¡Welcome to the Ventura webpage!</h1>
    <p>Ventura is an android mobile app to provide an interactive navigation through campus sites in some colleges of Bogotá, Colombia.</p>
</div>
<div style="display: flex; align-items: center;">
    <div style="margin-left: 20px;">
        <img src="{% static 'images/goose.png' %}" alt="Ventura Goose Draw" width="212" height="400">
    </div>
    <div style="font-size: 50px; margin-left: 20px;">
        ... goose goose?
    </div>
</div>
{% endblock %}
